<div class="container-fluid px-0">

  <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center gap-2" href="#">
        <i class="bi bi-people-fill fs-4 text-success"></i>
        <span class="fw-bold text-white">EMS</span>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/employeelist']" routerLinkActive="active">All Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addemployee']" routerLinkActive="active">Add Employee</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>